build
private
*.asm*
*.bmk
*.brk
*.c.ini
*.cp
*.dbg
*.dct
*.dlt
*.log
*.lst
*.mcl
*.mcppi_callertable.txt
*.user.dic
*.cmf
*.elf
*.hxl
*.lst
*.map
*.mum
*.obj
*.rlf
*.sdb
*.sym
memoryfile.xml
MPLABXLog.xml*
